# For loops
iterate over a list

In [3]:
#             collection
#   loop var   |
for number in [1,2,3]:
    print(number)  # body

1
2
3

In [4]:
for number in [1,2,3]:
print(number)

IndentationError: expected an indented block after 'for' statement on line 1 (2285504008.py, line 2)

A range is not a list (it is an _iterator_)

In [5]:
print(range(0,3))

range(0, 3)

In [7]:
for number in range(0,3):
    print(number)

0
1
2

The accumulator pattern:

In [8]:
total = 0  # initial value
for number in range(10):
    total = total + (number + 1)
print(total)

55

Alternative form uses '+='

In [9]:
total = 0
for number in range(10):
    total += number + 1
print(total)

55

In [10]:
total = 0

for char in "tin":
    print('char is',char)
    total = total + 1
    print('total is',total)

print(total)

char is t
total is 1
char is i
total is 2
char is n
total is 3
3

In [12]:
original = "tin"
result = ""
for char in original:
    result = char + result
print(result)

nit